body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  text-align:center;
  display: inline-block;
  font-size: 12px;
  padding: 10px;
  border-radius: 50%;
}

.addOption {
  margin-top: 10px;
}

.askOption {
  border-radius: 50%;
}


img {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}
